<template>
    <div class="container-fluid">
        <h1>Hungry Games</h1>
        <p>
            <button type="button" class="btn btn-primary" @click="startSimulation">Start Hungry Games Simulation</button>
            <button type="button" class="btn btn-primary" @click="startBattleRound">Start Battle</button>
        </p>
        <div class="row">
            <div class="col-md-3">
                <h2>Contestants</h2>
                <table class="table table-striped table-responsive" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Health</th>
                            <th>Attack</th>
                            <th>Defense</th>
                            <th>Luck</th>
                            <th>Gender</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="c in contestants" :key="c.id">
                            <td>{{c.id}}</td>
                            <td>{{c.health}}</td>
                            <td>{{c.attack}}</td>
                            <td>{{c.defense}}</td>
                            <td>{{c.chance.toFixed(2)}}</td>
                            <td>{{c.gender}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5 text-center">
                <h2>Battle Log</h2>
                <div class="card text-white bg-secondary mb-3 align-self-center">
                    <div class="card-header">Fight!</div>
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            Contestant {{vm.battleLog[battleLog.length-1].attacker.id}} >> {{damage}} >> Contestant
                            {{vm.battleLog[battleLog.length-1].defender.id}}
                        </h4>
                        <p class="card-text">Contestant {{topBar.id}}</p>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar"
                                     :style="{width: battleLog.length === 0 ? '100%' :((topBar.health / healthAttacker) * 100) + '%'}"
                                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        <hr>
                        <p class="card-text">Contestant {{bottomBar.id}}</p>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar"
                                 :style="{width: battleLog.length === 0 ? '100%' :((bottomBar.health / healthDefender)* 100) + '%'}"
                                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <h2>Battle Items</h2>
                <p></p>
                <div v-for="b in battleItems" class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">Contestant {{b.contestant.id}} found battle item!</div>
                    <div class="card-body">
                        <h4 class="card-title">Battle Item is {{b.type}}</h4>
                        <p class="card-text">Contestant receives {{b.boost}} to health / attack</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SockJS from "sockjs-client";
    import Stomp from "webstomp-client";
    import axios from 'axios';

    export default {
        created(){
            this.setup();
        },
        data(){
            return {
                contestants: [],
                battleItems: [],
                battling: [],
                topBar: {},
                bottomBar: {},

                healthDefender: 100,
                healthAttacker: 100,

                newHealth: 75,
                oldHealth: 103,
                damage: 0,
                battleLog: [],
                deadContestants: [],
                socket: {},
                stompClient: {}
            }
        },
        methods: {
            setup(){
                let vm = this;
                vm.socket = new SockJS("http://localhost:8000/hungry_games");
                vm.stompClient = Stomp.over(vm.socket)
                vm.stompClient.connect({}, frame => {
                    this.stompClient.subscribe("/topic/contestants", stompResponse => {
                        let contestant = JSON.parse(stompResponse.body);
                        vm.contestants.push(contestant)
                    })
                    this.stompClient.subscribe("/topic/battleItems", stompResponse => {
                        let battleItem = JSON.parse(stompResponse.body);
                        battleItem.contestant = JSON.parse(battleItem.contestant);
                        vm.battleItems.push(battleItem)
                    })
                    this.stompClient.subscribe("/topic/battlelog", stompResponse => {
                        let battleLog = JSON.parse(stompResponse.body);
                        battleLog.attacker = JSON.parse(battleLog.attacker);
                        battleLog.defender = JSON.parse(battleLog.defender);

                        if (vm.battling.length === 0 || (!vm.battling.some(e => e === battleLog.defender.id) || !vm.battling.some(e => e === battleLog.attacker.id))) {
                            vm.bottomBar = battleLog.defender;
                            vm.topBar = battleLog.attacker;

                            vm.battling = [battleLog.attacker.id, battleLog.defender.id];

                            vm.healthAttacker = battleLog.attacker.health;
                            vm.healthDefender = battleLog.defender.health;
                        }
                        vm.damage = battleLog.damage;
                        if(vm.bottomBar.id === battleLog.defender.id){
                            vm.bottomBar = battleLog.defender;
                        } else if(vm.topBar.id === battleLog.defender.id) {
                            vm.topBar = battleLog.defender;
                        }
                        vm.battleLog.push(battleLog)
                    })
                    this.stompClient.subscribe("/topic/dead", stompResponse => {
                        let deadContestant = JSON.parse(stompResponse.body);
                        let index = vm.contestants.findIndex(contestant => contestant.id === deadContestant.id);
                        vm.contestants.splice(index, 1)
                        vm.deadContestants.push(deadContestant)
                    })
                })
            },
            startSimulation(){
                axios.post("http://localhost:8000/start");
            },
            startBattleRound(){
                axios.post("http://localhost:8000/battle");
            },
            randomHealth(){
                this.oldHealth = 75;
                this.newHealth = 38;
            }
        }
    }
</script>

<style scoped>

</style>