<template>
  <div>
    <example></example>
  </div>
</template>

<script>
import example from './components/Example.vue';
export default {
  components: {
    example
  }
}
</script>

<style>

</style>
